{% extends "layout.html.twig" %}

{% block content %}

    <form action="list.php" method="post">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" size="45"/>
            <input type="hidden" name="action" value="create"/>
            <button type="submit">send</button>
        </div>
    </form>

    <p>
        There are <strong>{{ count }}</strong> tasks.
    </p>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr>
                <td class="center">{{ todo.id }}</td>
                <td><a href="">{{ todo.title|title }}</a></td>
                <td class="center">
                    {% if todo.is_done %}
                        <span class="done">done</span>
                    {% else %}
                        <a href="">close</a>
                    {% endif %}
                </td>
                <td class="center">
                    <a href="">delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
