<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title 'Todo Application' %}</title>
    <link rel="stylesheet" media="screen" type="text/css" href="/css/style.css"/>
</head>
<body>
<div id="container">
    <h1>
        <a href="{{ path('homepage') }}">My Todos List</a>
    </h1>
    <div id="content">
        {% block content '' %}
    </div>
    <div id="footer">
        (c) Copyright - not SensioLabs
    </div>
</div>
</body>
</html>
